<p>Ask your coach anything:</p>
<form action="/answer" class="form-inline">
    <input id="message" type="text" class="form-control" name="question">
    <button id='submit' class="btn btn-primary" type="submit" >Ask</button>
</form>
